body {
    background-color: black;
}

#title h3{
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 0%;
}
#title p {
    font-family: 'DotGothic16', sans-serif;
    color: rgb(250, 125, 9);
    font-size: 35px;
}

#trainTime {
    display: inline-block;
    width: 100px;
    height: auto;
}

#trainDest {
    display: inline-block;
    height: 100%;
    position: absolute;
    margin-left: 2%;
    height: auto;
}
#trainOp {
    display: inline-block;
    height: 100%;
    position: absolute;
    margin-left: 25%;
    height: auto;
}
#trainSta {
    display: inline-block;
    height: 100%;
    position: absolute;
    margin-left: 50%;
    height: auto;
}